.brands
	position: relative
	
	&-cont
		background-color: #F5F5F5
		padding: 20px 0

	&__item
		background-color: #fff
		border-radius: 156px
		display: flex
		justify-content: center
		flex-direction: column
		align-items: center
		min-height: 60px

		img
			display: block