.main-youtube
	display: flex
	align-items: center

	&__video
		flex: none
		margin-left: 50px

	&__title
		font-weight: 600
		font-size: em(22)
		letter-spacing: 0.04em
		text-transform: uppercase
		margin-bottom: 30px

	// &-cont