footer.footer
	.footer__top-cont
		.wrapper
			.footer__top
				ul.footer__menu
					li.footer__menu-item
						a(href="").footer__menu-link Бренды
					li.footer__menu-item
						a(href="").footer__menu-link Блог
					li.footer__menu-item
						a(href="").footer__menu-link О компании
					li.footer__menu-item
						a(href="").footer__menu-link История о Ким
					li.footer__menu-item
						a(href="").footer__menu-link Контакты
					li.footer__menu-item
						a(href="").footer__menu-link Отзывы

				.f-soc
					.soc
						a.soc__link(href="#")
							img(src="img/ico-vk.svg", alt="")
						a.soc__link(href="#")
							img(src="img/ico-inst-f.svg", alt="")
						a.soc__link(href="#")
							img(src="img/ico-youtube.svg", alt="")

				
				.footer__contacts
					.footer__contacts-item
						a(href="tel:89184899841") 8 918 489-98-41
						a.fancybox(href="#") Заказать звонок
					.footer__contacts-item
						a(href="mailto: info@kocokorea.ru") info@kocokorea.ru
					.footer__contacts-item г. Анапа, ул. Парковая 60


	.footer__bot-cont
		.wrapper
			.footer__bot
				.footer__text 
					span © 2019 «Kocokorea»
					a(href="#") Политика конфиденциальности
				
				.footer__dev
					a(href="").dev
						.dev-text Сделано в
						.dev-logo
							img(src="img/ico-dev.svg", alt="")