.mobile-menu
header.head
	.head-top-cont
		.wrapper
			.head-top
				.head-logo
					a(href="")
						include ../../img/logo.svg
				.head-search-cont
					form(action="")
						.head-search
							input(type="text" placeholder="Что будем искать?")
							input(type="submit" value="Искать")
				.head-phone
					a(href="tel:89184899841") 8 918 489-98-41

				.head-callback
					a(href="").fancybox Заказать звонок
				.head-city
					span Челябинск
				.head-favorite
					a(href="")
						span(data-count="2")
							include ../../img/ico-favorite.svg
				.head-cart
					a(href="")
						span(data-count="2")
							include ../../img/ico-cart.svg
				.burger
					span

	.head-bot-cont
		.wrapper
			.head-bot
				nav.main-nav
					ul.main-nav__list
						li.main-nav__item
							a(href="").main-nav__link Продукция
						each item, i in [{title: 'Бренды', href: ""}, {title: 'Блог', href: ""}, {title: 'О компании', href: ""}, {title: 'История о Ким', href: ""}, {title: 'YouTube', href: "youtube"}, {title: 'Отзывы', href: ""}, {title: 'Контакты', href: ""}]
							li.main-nav__item
								a(href=''+item.href+'').main-nav__link=item.title

				
				

	