.mobile-menu
header.head
	.head-top-cont
		.wrapper
			.head-top
				.head-logo
					a(href="")
						include ../../img/logo.svg
				.head-search-cont
					form(action="")
						.head-search
							input(type="text" palceholder='Что будем искать?')
							input(type="submit" value="Искать")
				.head-phone
					a(href="tel:89184899841") 8 918 489-98-41

				.head-callback
					a(href="").fancybox Заказать звонок
				.head-city
					span Челябинск
				.head-favorite
					span
						include ../../img/ico-favorite.svg
				.head-cart
					span
						include ../../img/ico-cart.svg
				.burger
					span

	.head-bot-cont
		.wrapper
			.head-bot
				nav.main-nav
					ul.main-nav__list
						li.main-nav__item
							a(href="#menu").main-nav__link.fancybox.btn Продукция
						each title, i in ['Бренды', 'Блог', 'О компании', 'История о Ким', 'YouTube', 'Отзывы', 'Контакты']
							li.main-nav__item
								a(href="").main-nav__link=title

				
				

	